.form {
  border: 1px solid black;
  margin: 150px auto;
  background-color: rgb(66, 72, 72);
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.input {
  padding: 10px;
  margin: auto;
}
.button {
  display: flex;
  margin: auto;
  width: 50px;
  margin-bottom: 10px;
}
